
/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

html{
	background-color: #f7f7f7;
}

body div{
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  background-color: #f7f7f7;

}

body {
	background-color: #f7f7f7;
}

h1, h2, h3, h4{
	font-family: 'Overpass', sans-serif;
	color: #3f2ad8;
}

h5, h6, p{
	color: #434343;
	font-family: 'Overpass', sans-serif;
}

ul {
	list-style-type: none;
}

li{
	margin-left: 6vw;
	margin-right: 6vw;
}

.title{
	color: #3f2ad8;
	font-family: 'Overpass', sans-serif;
	display: flex;
	justify-content: center;
}

#App {
	margin-top: 60px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #f7f7f7;
}


.navbar{
	/* margin-top: 50px; */
	color: #3f2ad8;
	font-family: 'Overpass', sans-serif;
	border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #16ff9e;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #16ff9e;
}

.custom-navbar {
	padding-top: 50px;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
}

/* .navbar a.active {
	background-color: #4CAF50;
	color: white;
} */

.link{
	color: #3f2ad8;
}

.intro{
	display: flex;
	justify-content: center;
}

.intro-container{
	/* margin: 10px; */
	padding-top: 50px;
	padding-bottom: 50px;
}

.content-container {
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px;
	display: block;
}

.col-container {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
}

.img-col {
	flex: 50%;
	padding: 5px;
}

.img-row {
	display: flex;
}

.img-container {
	margin-right: auto;
	margin-left: auto;
}

.logo img{
	width: 100px;
	height: auto;
}

.logo{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.title-img img{
	width: 250px;
}

.title-img{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}


/*magician*/
.magician{
	display: flex;
	justify-content: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
	width: 150px;
}

.steps-content {
	margin-top: 16px;
	border: 1px dashed #3f2ad8;
	border-radius: 6px;
	background-color: #f7f7f7;
	min-height: 200px;
	text-align: center;
	/* padding-top: 80px; */
}

.steps-action {
	margin-top: 24px;
}
